.incrementorBtn
	margin-right auto
	margin-left auto
	width 100px
	height 100px
	background red
	border-radius 5px
	line-height 100px
	text-align center
	font-size 32px
	font-family Arial
	cursor pointer
	color white
	transition all .3s

	&:hover
		background #AAA