.pg
  position absolute
  left 0
  right 0
  bottom 0
  top 0

  .bg
    position absolute
    left 0
    right 0
    bottom 0
    top 0
    background url(../../../assets/images/bg.jpg) center center fixed
    opacity 0.4

  .container
    position relative
    margin-right auto
    margin-left auto
    margin-top 100px
    width 400px
    height 300px

.button
  margin-top 20px !important
  width 100% !important

.drawer
  opacity 0.8
  background-color gray

.tabsContainer
  position absolute
  left 257px
  top 0
  bottom 0
  right 0

.tab
  background-color #CCC !important

.userData
  height 100px