.bg
  position absolute
  left 0
  right 0
  bottom 0
  top 0
  background url(../../../resources/images/bg.jpg) center center fixed
  opacity 0.4

.app
  position absolute
  top 30px
  left 300px
  right 30px
  bottom 30px