.pg
  position absolute
  top 0
  right 0
  left 0
  bottom 0
  // background url(../../../assets/bg.jpg) center center

.loginBox
  position relative
  margin-right auto
  margin-left auto
  width 400px
  height 300px
  top 100px