.drawer
  opacity 0.8
  background-color gray

.avatar
  left 80px
  height 25px
  width 80px

.editProfile
  width: 100% !important

.username
  text-align center
  height: 5px
  font-size 14px !important

